@import '../../styles/Variables.module.scss';

.loginBannerContainer {
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;

    @include tablet {
        margin-left: 0;
    }

    @include mobilePlus {
        width: 300px;
    }

    .loginBanerBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}